body {
    font: 12pt verdana;
    background-color: #DDD;
}
.container {
    background-color: #FFF;
}

.site-header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-width: 100%;
}
.site-title {
    border: 1px solid #000;
    padding-left: 20px;
}
.site-description {
    padding-left: 10px;
    border: 1px solid #333;
    border-top: none;
}
.site-content {
    margin-top: 100px;
}